[flake8]
ignore = D203 W503 E203 E266
# TODO: remove this later
extend-ignore = F841 F821
exclude =
	*venv/*,
	*.eggs/*,
	*/site-packages/*,
	.git,
	.tox,
	docs/*,
	build,
	dist
max-line-length = 80
per-file-ignores =
    */__init__.py:F401,F403,E402
